<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-3 text-center">
        <h4>Contact Us</h4>
        <p>Phone: +123 456 7890</p>
        <p>Email: info@doinachef.com</p>
        <p>Address: 123 Vegan Street, Flavor Town</p>
      </div>
      <div class="text-center">
        <p>&copy; 2024 Doina Chef. All rights reserved.</p>
      </div>
      <div class="col-md-3 text-center">
        <button
          class="back-to-top"
          onclick="window.scrollTo({top: 0, behavior: 'smooth'});"
        >
          ↑ TOP
        </button>
        <button class="open-menu">
          <a href="/reserve" style="color: white">Reserve</a>
        </button>
      </div>
      <div class="col-md-6 text-center">
        <h4>Follow Us</h4>
        <!-- <a href="https://facebook.com"
          ><img
            src="public\img\FBlogo.png"
            alt="Facebook"
            style="width: 24px; height: 24px"
        /></a> -->
        <a href="https://twitter.com"
          ><img
            src="https://cdn.worldvectorlogo.com/logos/x-2.svg"
            alt="Twitter"
            style="width: 24px; height: 24px"
        /></a>
        <a href="https://instagram.com"
          ><img
            src="https://seeklogo.com/images/I/instagram-logo-A807AD378B-seeklogo.com.png"
            alt="Instagram"
            style="width: 24px; height: 24px"
        /></a>
      </div>
    </div>
  </div>
</footer>
