<a href="/about" style="padding: 20px">
  <div class="glass container">
    <div class="container main-content">
      <h1>The Chef</h1>

      <p>
        Passioned and Experienced Chef. Serving delightful food for the body and
        the mind
      </p>
    </div>
  </div>
</a>
<a href="/events" style="padding: 20px">
  <div class="glass container">
    <div class="container main-content">
      <h1>Eventi</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Inventore,
        molestias officia? Cupiditate nisi optio fuga omnis iure sed deserunt
        nulla.
      </p>
      <br />
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Inventore,
        molestias officia? Cupiditate nisi optio fuga omnis iure sed deserunt
        nulla.
      </p>
      <br />
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Inventore,
        molestias officia? Cupiditate nisi optio fuga omnis iure sed deserunt
        nulla.
      </p>
      <br />
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Inventore,
        molestias officia? Cupiditate nisi optio fuga omnis iure sed deserunt
        nulla.
      </p>
    </div>
  </div>
</a>
<a href="/recipes" style="padding: 20px">
  <div class="glass container">
    <div class="container main-content">
      <h1>Ricette</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Inventore,
        molestias officia? Cupiditate nisi optio fuga omnis iure sed deserunt
        nulla.
      </p>
      <br />
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Inventore,
        molestias officia? Cupiditate nisi optio fuga omnis iure sed deserunt
        nulla.
      </p>
      <br />
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Inventore,
        molestias officia? Cupiditate nisi optio fuga omnis iure sed deserunt
        nulla.
      </p>
      <br />
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Inventore,
        molestias officia? Cupiditate nisi optio fuga omnis iure sed deserunt
        nulla.
      </p>
    </div>
  </div>
</a>
