<nav id="navbar" class="navbar navbar-expand-md bg-">
  <div class="container-xxl">
    <!-- navbar brand / title -->
    <a class="navbar-brand" href="/">
      <span class="fw-bold" style="color: white"> Doina Vegan Chef </span>
    </a>

    <!-- toggle button for mobile nav -->
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#main-nav"
      aria-controls="main-nav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- navbar links -->
    <div class="collapse navbar-collapse" id="main-nav">
      <ul class="navbar-nav ms-auto flex-row">
        <li class="nav-item me-3">
          <a class="nav-link" style="color: white" href="/about"
            >About The Chef</a
          >
        </li>
        <li class="nav-item me-3">
          <a class="nav-link" style="color: white" href="/recipes">Recipes</a>
        </li>
        <li class="nav-item me-3">
          <a class="nav-link" style="color: white" href="/events">Events</a>
        </li>
        <li class="nav-item me-3">
          <a class="nav-link" style="color: white" href="/reserve">Reserve</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
