
    <%- include('partials/head.ejs')  %>


<body>
<div class="background">
    <%- include('partials/nav.ejs') %>

<div class="container glass">
    <div class="container">
        <h3>Discover the Culinary Magic with Doina Chef! </h3>
        <hr>
        <p>Embark on a tantalizing journey into the world of green flavors with Doina Chef, a culinary virtuoso dedicated to the art of cuisine. 

            Unforgettable Tastes:
            Savor the magic of Soul Food as Doina, a seasoned vegetarian for over 12 years, masterfully blends international styles—think Romanian, Italian, and Spanish influences—with the vibrant new wave of vegan gastronomy. Every bite is an explosion of exceptional flavors, creating a unique and unforgettable taste experience.
            <br><br>
            Specialized in Delight:
            Doina specializes in crafting dishes that not only satisfy refined palates but also make her the creative force behind extraordinary yoga retreats. Beyond retreats, she brings her mastery of vegan cuisine to private events, promising to add a special touch to intimate dinners or celebrations.
            <br><br>
            A Journey of Passion
            Join Doina Chef on a culinary journey where green signifies the color of taste, and passion manifests in every dish. Whether you're a vegetarian enthusiast or a curious culinary explorer, her creativity will leave you craving more.
            <br><br>
            Elevate Every Moment:
            Experience the art of eclectic and delicious cooking that transforms every moment into something extraordinary. Doina Chef is not just about food; she's about making veganism a delightful and memorable lifestyle.
            <br><br>
            Redefined Culinary Experience:
            Discover the joy of cuisine with Doina and let her passion for green flavors redefine your culinary experience. It's not just a meal; it's a journey into the heart of vegan delight. 
            <br><br>
            Ready to tantalize your taste buds? Dive into the culinary magic of Doina Chef and let the adventure begin! </p>
    </div>
</div>
<div class="container">
    
    <%- include('partials/reviews', {reviews: reviews}) %>
</div>
    <%- include('partials/footer.ejs') %>
    
</div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>

</body>
</html>