<%- include('partials/head.ejs') %>
<body>
   

  <div class="background">
<%- include('partials/nav.ejs') %>
  <div class="container glass">
    <p>non siamo riusciti a prendere la tua prenotazione...</p>
  </div>

  </div>
  <%- include('partials/footer.ejs') %>


</body>

</html>